<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="Adam CV">
    <title>Adam CV</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/pics/a_favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>

<div class="top-container">
    <img class="top-cloud" src="static/pics/cloud.png" alt="cloud-img">
    <h1>I'm Adam</h1>
    <h2>an <strong>info-bionics</strong> engineer</h2>
    <img class="bottom-cloud" src="static/pics/cloud.png" alt="cloud-img">
    <img src="static/pics/mountain.png" alt="mountain-img">
</div>


<div class="middle-container">
  <div class="profile">
    <img class="programmer-image" src="static/pics/programmer.png" alt="programmer">
<!--      <div>Icons made by <a href="https://www.flaticon.com/authors/webalys" title="Webalys">Webalys</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    <h2>Hello</h2>
    <p>
        Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.
        Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.
        Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.
        Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.

    </p>
  </div>
  <hr class="dotted">
  <div class="skills">
    <h2>My Skills</h2>
    <div class="skill-row">
      <img class="comp-image" src="static/pics/computer.png" alt="computer">
      <h3>Lorem & Ipsum</h3>
      <p class="anti-float-l">
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
      </p>
    </div>
    <div class="skill-row">
      <img class="chilli-image" src="static/pics/chillies.png" alt="chilli">
      <h3>Lorem Ipsum Dolor</h3>
      <p class="anti-float-r">
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.

      </p>
    </div>
  </div>
  <hr class="dotted">
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p style="margin-bottom: 30px";>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
    <a class="btn" href="mailto:szelig.adam.gyorgy@gmail.com">CONTACT ME</a>
  </div>
</div>

<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/%C3%A1d%C3%A1m-sz%C3%A9lig-701bb5224/">LinkedIn</a>
  <a class="footer-link" href="https://github.com/adamszelig?tab=repositories">Website</a>
  <p class="trade">© 2022 Adam Szelig</p>
</div>

</body>
</html>

